{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}
{% block content %}

<h1>Главная страница!</h1>

<div class="card" style="width: 18rem;">
  <img src="https://yt3.ggpht.com/a/AATXAJxtjrAEXZ1svxbaS88sB3jrm9uAv4k4IHuQwE5V1g=s900-c-k-c0xffffffff-no-rj-mo" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Создание ссылки</h5>
    <p class="card-text">Для создание вашей ссылки, заполните форму ниже</p>
<form method="post">
    {% csrf_token %}

    {% if request.user.is_authenticated %}
      <div class="mb-3">
    <label for="{{ form.short_url.id_for_label }}" class="form-label">Короткая ссылка</label>
      {{ form.short_url }}
          {{ form.short_url.help_text }}
       <div class="invalid-feedback">
           {{ form.short_url.errors }}
      </div>
  </div>
    {% else %}


    {% endif %}

<div class="mb-3">
    <label for="{{ form.full_url.id_for_label }}" class="form-label">Полная ссылка</label>
      {{ form.full_url }}
       <div class="invalid-feedback">
           {{ form.full_url.errors }}
      </div>
  </div>
      <button type="submit" class="btn btn-primary btn-block">Создать!</button>
</form>  </div>
</div>

{% endblock %}